
<!-- Interface pour ajouter un patient -->
<div *ngIf="!data">

  <!-- Titre -->
  <h1 mat-dialog-title> Fiche patient :</h1>

  <!-- Contenu -->
  <div mat-dialog-content>

    <!-- Prenom -->
    <mat-form-field>
      <input #prenom matInput placeholder="Prenom " [formControl]="prenomControl" >
      <mat-error *ngIf="prenomControl.invalid">{{getErrorMessage('prenom')}}</mat-error>
    </mat-form-field>

    <!-- Nom -->
    <mat-form-field>
      <input  #nom matInput  placeholder="Nom " [formControl]="nomControl" >
      <mat-error *ngIf="nomControl.invalid">{{getErrorMessage('nom')}}</mat-error>
    </mat-form-field>

    <!-- Sexe -->
    <div>
      <mat-radio-group [(ngModel)]="sexe">
        <mat-radio-button   value="0">M</mat-radio-button>
        <mat-radio-button   value="1">F</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Adresse -->
    <div>
      <!-- Numéro -->
      <mat-form-field>
        <input  #numero matInput  placeholder="Numéro " [formControl]="numeroControl" >
        <mat-error *ngIf="numeroControl.invalid">{{getErrorMessage('numero')}}</mat-error>
      </mat-form-field>
      <!-- Rue -->
      <mat-form-field>
        <input #rue  matInput  placeholder="Rue " [formControl]="rueControl" >
        <mat-error *ngIf="rueControl.invalid">{{getErrorMessage('rue')}}</mat-error>
      </mat-form-field>
      <!-- Code postal -->
      <mat-form-field>
        <input #codePostal matInput  placeholder="Code Postal " [formControl]="codePostalControl" >
        <mat-error *ngIf="codePostalControl.invalid">{{getErrorMessage('codePostal')}}</mat-error>
      </mat-form-field>
      <!-- Ville -->
      <mat-form-field>
        <input  #ville matInput  placeholder="Ville " [formControl]="villeControl" >
        <mat-error *ngIf="villeControl.invalid">{{getErrorMessage('ville')}}</mat-error>
      </mat-form-field>
      <!-- Etage -->
      <mat-form-field>
        <input  #etage matInput  placeholder="Etage " [formControl]="etageControl" >
        <mat-error *ngIf="etageControl.invalid">{{getErrorMessage('etage')}}</mat-error>
      </mat-form-field>
    </div>

    <!-- N° Secu -->
    <mat-form-field>
      <!-- errorStateManager égale matcher1 si n°secu existe daje sinon matcher2 -->
      <input  #numeroSecu matInput  placeholder="Numéro sécurité social " [formControl]="numeroSecuriteSocialControl"
              [errorStateMatcher]="(patients && !numeroSecuriteSocialControl.invalid?isExistNumeroSecuriteSociale(numeroSecu.value):false)?matcher1:matcher2"
              >
      <mat-error *ngIf="numeroSecuriteSocialControl.invalid">{{getErrorMessage('numeroSecuriteSocial')}}</mat-error>
      <mat-error *ngIf="patients && !numeroSecuriteSocialControl.invalid?isExistNumeroSecuriteSociale(numeroSecu.value):false">{{getErrorMessage('numeroSecuriteSocial: exist')}}</mat-error>

    </mat-form-field>

  </div>

  <!-- Actions -->
  <div mat-dialog-actions>
    <!-- Retour -->
    <button mat-button (click)="onNoClick()">Retour</button>
    <!-- Ajouter -->
    <button [disabled]="prenomControl.invalid || nomControl.invalid || numeroControl.invalid ||
                       rueControl.invalid || codePostalControl.invalid || villeControl.invalid ||
                       etageControl.invalid || numeroSecuriteSocialControl.invalid || !sexe || isExistNumeroSecuriteSociale(numeroSecu.value)"
            mat-button
            [mat-dialog-close]="createPatient(nom.value, prenom.value, numero.value, rue.value, codePostal.value, etage.value, ville.value, numeroSecuriteSocialControl.value)"
    >Ajouter</button>
  </div>

</div>

<!-- Interface pour mettre à jour un patient -->

<div *ngIf="data">
  <!-- Titre -->
  <h3 mat-dialog-title> N°{{data.numeroSecuriteSociale}} </h3>

  <!-- Contenu -->
  <div mat-dialog-content>

    <!-- Prenom -->
    <mat-form-field>
      <input #prenom matInput placeholder="Prenom " [formControl]="prenomControl" >
      <mat-error *ngIf="prenomControl.invalid">{{getErrorMessage('prenom')}}</mat-error>
    </mat-form-field>

    <!-- Nom -->
    <mat-form-field>
      <input  #nom matInput  placeholder="Nom " [formControl]="nomControl" >
      <mat-error *ngIf="nomControl.invalid">{{getErrorMessage('nom')}}</mat-error>
    </mat-form-field>

    <!-- Adresse -->
    <div>
      <!-- Numéro -->
      <mat-form-field>
        <input  #numero matInput  placeholder="Numéro " [formControl]="numeroControl" >
        <mat-error *ngIf="numeroControl.invalid">{{getErrorMessage('numero')}}</mat-error>
      </mat-form-field>
      <!-- Rue -->
      <mat-form-field>
        <input #rue  matInput  placeholder="Rue " [formControl]="rueControl" >
        <mat-error *ngIf="rueControl.invalid">{{getErrorMessage('rue')}}</mat-error>
      </mat-form-field>
      <!-- Code postal -->
      <mat-form-field>
        <input #codePostal matInput  placeholder="Code Postal " [formControl]="codePostalControl" >
        <mat-error *ngIf="codePostalControl.invalid">{{getErrorMessage('codePostal')}}</mat-error>
      </mat-form-field>
      <!-- Ville -->
      <mat-form-field>
        <input  #ville matInput  placeholder="Ville " [formControl]="villeControl" >
        <mat-error *ngIf="villeControl.invalid">{{getErrorMessage('ville')}}</mat-error>
      </mat-form-field>
      <!-- Etage -->
      <mat-form-field>
        <input  #etage matInput  placeholder="Etage " [formControl]="etageControl" >
        <mat-error *ngIf="etageControl.invalid">{{getErrorMessage('etage')}}</mat-error>
      </mat-form-field>
    </div>

  </div>

  <!-- Actions -->
  <div mat-dialog-actions>
    <!-- Retour -->
    <button mat-button (click)="onNoClick()">Retour</button>
    <!-- Modifier -->
    <button mat-button
            [disabled]="prenomControl.invalid || nomControl.invalid || numeroControl.invalid ||
                       rueControl.invalid || codePostalControl.invalid || villeControl.invalid ||
                       etageControl.invalid"
           [mat-dialog-close]="updatePatient(nom.value,prenom.value,numero.value,rue.value,codePostal.value,etage.value,ville.value)">Modifier</button>
  </div>
</div>

<!-- AFFECTATION PATIENT UI -->
