.contenair {
  width: 100%;
  padding: 0px 100px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}
/* ------------------------------------------------ */
.cell {
  background: rgba(7, 37, 90, 0.9);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.4),0 6px 10px 0 rgba(0,0,0,.4),0 1px 18px 0 rgba(0,0,0,.4);
  overflow: hidden;
  padding: 25px;
  margin: 25px;
  border-radius: 5px;
}
/* ------------------------------------------------ */
.toolbar {
  background: #7b7d7d ;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}

.toolbar button{
  margin-left: 20px;
}

.toolbar img{
  width: 100%;
  height: 100%;
}
/* ------------------------------------------------ */
.cellCore {
  height: 100%;
  overflow: auto;
  padding: 10px;
}

.cellCore table {
  width: 100%;
}

.cellCore img{
  width: 100%;
  height: 100%;
}
/* ------------------------------------------------ */
mat-tab-group {
  background: #001f3f;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
  height: 500px;
}

mat-tab-body {
  align-items: center;
}
/* ------------------------------------------------ */
/* Set size of cell */
.mat-header-cell {
  min-width: 25%;
  max-width: 25%;
}

/* Hover ( survoler ) row patient */
.row:hover {
  background: #900C3F;
}

/* Fill gap between bottom bar and contenair patients */
.fillBottom {
  height: 200px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
  padding: 50px 50px;
  margin: 50px 50px;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.selectMod {
  background: #581845;
}

mat-radio-button {
  margin-left: 10px;
}

mat-expansion-panel {
  background: rgb(50, 50, 50);
}

.tableStyle {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  font-size: 20px;
  background: rgb(150, 150, 150);
  color: rgb(25, 25, 25);
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: 500;
  padding: 25px;

}

.affectation {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background: rgb(25, 25, 25);
  color: rgb(125, 125, 125);
  border-radius: 30px;
  margin: 50px;
  padding : 50px 50px;
}

.informations {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background: rgb(25, 25, 25);
  color: rgb(125, 125, 125);
  border-radius: 30px;
  margin: 50px;
  padding : 50px 50px;
  overflow: hidden;

}



.adresse {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background: rgb(200, 200, 200);
  color: rgb(40, 40, 40);
  border-radius: 10px;
  padding: 5px;
}

/* Send next content to opposite side */
.spacer-content {
  flex: 1 1 auto;
}

.ccBody {
  height: 100%;
}

mat-tab-body-conten {
  overflow: hidden;
}

