<!-- Tableau pour structurer la page -->
<table class="contenair">

  <tbody>
    <tr>
      <!-- Case gauche : Tableaux des patients -->
      <td style="width: 50%; vertical-align: top">
        <div class="cell">
          <div class="cellCore">

            <!-- Barre d'actions du tableau des patients : Ajouter patients ou Gérer affectations -->
            <div class="toolbar">
              <span>
                <button matTooltip="Ajouter un patient"(click)="openDialog(null)" mat-icon-button>
                  <img src="data/addwhite.png">
                </button>
                </span>
              <span class="example-spacer"></span>
              <span><button mat-flat-button matTooltip="Gestions des affectations" (click)="openDialogAffectations()"> AFFECTATIONS </button></span>
            </div>

              <!-- Filtres -->
            <div>
              <mat-accordion>
                <mat-expansion-panel>

                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Filtres
                    </mat-panel-title>
                    <mat-panel-description>
                      Selectionner filtres
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <span style="margin-right: 10px"> Mode :</span>
                  <mat-radio-group [(ngModel)]="_filterMod" (change)="filterPatient()">
                    <mat-radio-button value="only-not-affected"> non affectés </mat-radio-button>
                    <mat-radio-button value="only-affected"> affectés </mat-radio-button>
                    <mat-radio-button value="all"> tous </mat-radio-button>
                  </mat-radio-group>

                  <br>

                  <span style="margin-right: 10px"> Recherche : </span>
                  <mat-form-field>
                    <input matInput (keyup)="_filterValue = $event.target.value; applyFilter()" placeholder="Recherche">
                  </mat-form-field>

                </mat-expansion-panel>
              </mat-accordion>
            </div>

            <!-- Tableau patients -->
            <table mat-table [dataSource]="sortedPatients" matSort>

              <!-- Prenom -->
              <ng-container matColumnDef="prenom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
                <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
              </ng-container>

              <!--Nom -->
              <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
              </ng-container>

              <!-- Sexe -->
              <ng-container matColumnDef="sexe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexe </th>
                <td mat-cell *matCellDef="let element"> {{element.sexe}} </td>
              </ng-container>

              <!--Numero -->
              <ng-container matColumnDef="numeroSecuriteSociale">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero Sécurité Sociale </th>
                <td mat-cell *matCellDef="let element"> {{element.numeroSecuriteSociale}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr tabindex="0" mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selectMod': row ==_selectPatient }" (click)="_selectPatient = row; getAffectationsPatient()" class="row"></tr>
            </table>

            <!-- Pied page : Paginator -->
            <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </td>

      <!-- Case droite : Informations du patient sélectionné dans le tableaux des patients -->
      <td style="vertical-align: top">
        <div class="cell">

          <div class="cellCore">
            <!-- Si le patient est selectionner ... -->
            <mat-tab-group *ngIf="_selectPatient" dynamicHeight="true">

              <!-- Informations patient -->
              <mat-tab label="Informations">
                <div class="informations">
                  <table>
                    <tr>
                      <td style="vertical-align: top">
                        <span> Nom: {{_selectPatient.nom}}</span> <br>
                        <span> Prénom: {{_selectPatient.prenom}}</span> <br>
                        <span> Sexe: {{_selectPatient.sexe === 0 ? 'Masculin' : 'Féminin' }}</span> <br>
                        <span> N°sécu: {{_selectPatient.numeroSecuriteSociale}} </span> <br>
                      </td>
                      <td style="vertical-align: top">
                        <button matTooltip="Modifier ses informations" mat-icon-button (click)="openDialog(_selectPatient)">
                          <img src="data/modifywhite.png">
                        </button>
                      </td>
                    </tr>
                  </table>

                  <div class="adresse">
                  <span> Adresse : <br>
                   * Numéro: {{_selectPatient.adresse.numero}} <br>
                   * Rue: {{_selectPatient.adresse.rue}} <br>
                   * CP: {{_selectPatient.adresse.codePostal}} <br>
                   * Ville: {{ _selectPatient.adresse.ville}}  <br>
                   * Etage: {{_selectPatient.adresse.etage}}</span>
                  </div>
                </div>
              </mat-tab>

              <!-- Informations RDV du patient -->
              <mat-tab label="RDV" >
                <div class="informations">

                <!-- Si le patient est affecté a un infirmier alors affiché les informations de chaques infirmier -->
                <div *ngIf="infirmiersAssignedToSelectPatient.length !== 0">
                   Infirmiers affectés : <br>
                   <span *ngFor="let infirmier of infirmiersAssignedToSelectPatient">
                    * {{infirmier.nom}} {{infirmier.prenom}} {{infirmier.id}}
                   </span>

                </div>

                <!-- Si le patient n'est pas affecté alors on affiche le msg : aucun RDV -->
                <div *ngIf="infirmiersAssignedToSelectPatient.length === 0 && !_isAffectationMod" style="padding-bottom: 25px">
                  <span style="color: darkred; font-size: 20px"> Aucun RDV </span> <br>
                  <span style="color: darkred; font-size: 15px; font-style: italic"> (Veuiller affecter un infirmier) </span>
                </div>

                <!-- Si le mod affectation est activé alors l'utilisateurs peut choisir a quel ID affecté le patient-->
                <div *ngIf="_isAffectationMod">
                  Infirmiers disponible :
                  <mat-form-field>
                    <mat-select [(ngModel)]="_selectId" placeholder="ID">
                      <mat-option *ngFor="let I of cms.infirmiers" value="{{I.id}}"> {{I.id}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>

                  <button mat-button (click)="affectationPatient(_selectPatient, _selectId);
                                             _isAffectationMod = false;
                                             openSnackBar('Affectation du patient n°' + _selectPatient.numeroSecuriteSociale + ' à l\'infirmier n°' + _selectId, 'OK' );"
                                    [disabled]="!_selectId"> Affecter </button>
                  <button mat-button (click)="_isAffectationMod = false"> Annuler </button>

                </div>



                <!-- Si le mod affectation est desactivé alors l'utilisateurs peut choisir d'activer le mod ou bien de désaffecter le patient-->
                <div *ngIf="!_isAffectationMod">
                  <button (click)="_isAffectationMod = true" [disabled]="infirmiersAssignedToSelectPatient.length !== 0">
                    AFFECTATION
                  </button>
                  <button (click)="affectationPatient(_selectPatient, 'none');
                                   openSnackBar('Désaffectation du patient n°' + _selectPatient.numeroSecuriteSociale, 'OK' )"
                          [disabled]="infirmiersAssignedToSelectPatient.length === 0">
                    DESAFFECTATION
                  </button>
                </div>
                </div>
              </mat-tab>
            </mat-tab-group>

            <!-- Sinon ... -->
            <div *ngIf="!_selectPatient" class="tableStyle" >
              <span> Sélectionner un patient dans le tableau de gauche pour afficher et gérer ses informations </span>
            </div>

          </div>
        </div>
      </td>
    </tr>
  </tbody>

</table>


<!-- Zone qui définis l'espace entre le pied de page et le tableau général -->
<div class="fillBottom">
</div>





