img{
  height: 40px;
  width: 25px;
  min-height:auto;
}

.mat-cell {
  min-height:auto;
  padding: 12px 16px 12px 0;
}

mat-expansion-panel{
  min-height: auto;
  padding: 12px 16px 12px 0;
}

mat-panel-title{
  margin: auto;
  width: 200px;
  flex-grow: 0;
}


mat-panel-description {
  align-items: center;
}
.adresse{
  background: #001f3f;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 0px 100px;
  text-align: center;
}

.warning_message{
  color: red;
}


