<!-- Il feut vérifier si le cabinet est définie car on fait une requête au serveur pour initialiser l'initialiser -->
<div *ngIf="cms" class="infirmier">

  <mat-accordion>
    <div *ngFor="let inf of cms.infirmiers">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{inf.id}} {{inf.nom}} {{inf.prenom}}
          </mat-panel-title>
          <mat-panel-description>
            <img src="data/{{inf.photo}}"> <div class="adresse">{{getAdresse(inf.adresse)}}</div>
    </mat-panel-description>
        </mat-expansion-panel-header>
        
        <table mat-table  *ngIf="getInfirmier(inf.id).length!==0; else warning_message" [dataSource]="getInfirmier(inf.id)" >
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Nom</th>
            <td mat-cell *matCellDef="let element">{{element.nom}}</td>
          </ng-container>

          <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef> Prénom</th>
            <td mat-cell *matCellDef="let element">{{element.prenom}}</td>
          </ng-container>

          <ng-container matColumnDef="sexe">
            <th mat-header-cell *matHeaderCellDef> Sexe</th>
            <td mat-cell *matCellDef="let element">{{element.sexe}}</td>
          </ng-container>

          <ng-container matColumnDef="adresse">
            <th mat-header-cell *matHeaderCellDef> Adresse</th>
            <td mat-cell *matCellDef="let element">{{getAdresse(element.adresse)}}</td>
          </ng-container>

          <ng-container matColumnDef="numeroSecuriteSociale">
            <th mat-header-cell *matHeaderCellDef> Numéro de sécurité sociale</th>
            <td mat-cell *matCellDef="let element">{{element.numeroSecuriteSociale}}</td>
          </ng-container>

          <ng-container matColumnDef="desaffecte">
            <th mat-header-cell *matHeaderCellDef> Désaffecter </th>
            <td mat-cell *matCellDef="let element"><button mat-stroked-button (click)="desaffecter(getInfirmier(inf.id), inf.id); openSnackBar('Le patient n°' + element.numeroSecuriteSociale + ' à bien été désaffecté de l\'infirmier n°' + inf.id + '.')">Désaffecter</button></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsPatients"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsPatients;"></tr>

        </table>
        <ng-template #warning_message><p class="warning_message">Attention cet infirmier n'a aucun patient.</p></ng-template>
      </mat-expansion-panel>
    </div>
  </mat-accordion>

</div>
