<!-- Barre d'outils -->
<div class="toolBar">
  <mat-toolbar>
    <img src="data/hospital-icon.png" routerLink="/home">
    <span>SECRETARY</span>
    <button mat-button routerLink="/infirmiers"><span>Infirmiers</span></button>
    <button mat-button routerLink="/patients"><span>Patients</span></button>
    <span class="spacer-content"></span>
    <span>Jack Torrance</span>
  </mat-toolbar>
</div>

<!-- Body -->
<div class="body">
  <router-outlet></router-outlet>
</div>

<!-- Pied de page -->
<footer>
<div>
  <mat-toolbar class="bottomBar">
    <span>
      <p>
        <span>Copyright, tous droits réservés a PERRIN Alexandre et MENDES Julien</span>
         <br>
        <span> {{cms?.adresse.numero}} {{cms?.adresse.rue }}  </span>
        <br>
        <span> {{cms?.adresse.codePostal }} {{cms?.adresse.ville }}  </span>
      </p>
    </span>
  </mat-toolbar>
</div>
</footer>

