/* Send next content to opposite side */
.spacer-content {
  flex: 1 1 auto;
}
/* ------------------------------------------------ */
.toolBar {
  height: 100px;
}

.toolBar mat-toolbar {
  background: #900C3F;
  color: #fff;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
  left: 0;
  top: 0;
  position: fixed;
  z-index: 2; /* Envoyer au 1er plan la toolbar */
}

.toolBar span{
  font-family: cursive;
  font-size: 15px;
  font-weight: bolder;
}

.toolBar mat-toolbar img{
  border-radius: 10px;
  max-width: 75%;
  max-height: 75%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background:  #581845;
  margin-right: 8px;
  display: flex;
}
/* ------------------------------------------------ */
.body{
  position: relative;
  width: 100%;
  min-height: 700px;
}
/* ------------------------------------------------ */
footer{
  position: absolute;
  left: 0;
  right: 0;
  background-color: red;
  color: white;
  border: red;
}

footer .bottomBar{
  height: 150px;
  box-shadow: 40px 40px 80px 0 rgba(0, 0, 0, 0.2), 20px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer .bottomBar span{
  font-family: cursive;
  font-size: 15px;
  font-weight: bolder;
}







