/** -------------------------------- AFFECTATION UI -------------------------------------- */
.mainBody {
  background: rgba(0, 0, 0, 0.5);
  padding-left: 25px;
  border-radius: 5px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);

}


/** --> CSS copier de : https://material.angular.io/cdk/drag-drop/examples : avec quelques modifications */
.example-container {
  border-radius: 4px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background: rgba(255,255,255,0.05)

}

.example-list {

  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: auto;
  display: block;
  height: 300px;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: rgba(7, 37, 90, 0.9);
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/** CSS copier <--*/


/* Send next content to opposite side */
.example-spacer {
  flex: 1 1 auto;
}
