<div class="mainBody">
<!-- Titre du dialogue -->

  <div mat-dialog-actions style="vertical-align: top; padding-bottom: 30px; padding-right: 25px;">
    <button mat-flat-button (click)="onNoClick()"> Retour </button>
    <!-- Impossible d'utiliser [mat-dialog-close],
     si on l'utilise, a chaque click ou drag drop d'un element dans le dialog, celui ci va appeler la fonction dans [mat-dialog-close]
     -->
    <span class="example-spacer"></span>
    <span> GESTION PATIENTS </span>
    <span class="example-spacer"></span>
    <button mat-flat-button (click)="assignedAllPatientsMove()"> Affectations </button>
  </div>


<div *ngIf="cms" mat-dialog-content style="background: rgba(1,10,30,0.25)">
  <!-- Espace de 20px pour séparer le contenu -->
  <div style="height: 20px"></div>

  <div cdkDropListGroup>
  <!-- Création des drops lists -->

      <!-- Drop list : liste des patients non affectée -->
      <div class="example-container">
        <h2>Aucune affectation</h2>
        <div
          cdkDropList
          [cdkDropListData]="patientsNonAffectes"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of patientsNonAffectes" cdkDrag>
        <span style="font-weight: bold">
          {{item.numeroSecuriteSociale}}
        </span>
            <span class="example-spacer"></span>
            <span style="width: 20px"></span>
            <span class="example-spacer"></span>
            {{item.nom.trim()}}
            <br>
            {{item.prenom.trim()}}
          </div>
        </div>
      </div>

      <!-- Drop list : Liste des patients affectés a un certain infirmier -->
      <div *ngFor="let I of cms.infirmiers" class="example-container">

        <h2>Infirmier n°{{I.id}}</h2>
        <div
          cdkDropList

          [cdkDropListData]="patientsAffectes.get(I.id)"
          class="example-list"
          (cdkDropListDropped)="drop($event);">
          <div class="example-box" *ngFor="let item of patientsAffectes.get(I.id)" cdkDrag>
        <span style="font-weight: bold">
          {{item.numeroSecuriteSociale}}
        </span>
            <span class="example-spacer"></span>
            <span style="width: 20px"></span>
            <span class="example-spacer"></span>
            {{item.nom}}
            <br>
            {{item.prenom}}
          </div>
        </div>
      </div>



</div>






</div>
</div>
