<!-- Il feut vérifier si le cabinet est définie car on fait une requête au serveur pour initialiser l'initialiser -->
<div *ngIf="cms" class="home">
  <mat-card class="cabinetCard">

      <mat-card-content>
        <div class="infirmierEtPatient">
          {{getInfPatients(nbInfirmiers, nbPatients)}}
        </div>
      </mat-card-content>
  </mat-card>
  <br/>
  <mat-card class="affectCard">
      <mat-card-content>
        <div class="infirmierEtPatient">
          {{getAffecNonAffec(nbAffecte, nbNonAffecte)}}
        </div>
      </mat-card-content>
  </mat-card>
</div>


